#bit-events td .bit-uiButton {
	font-family: $base-font-family !important;
    border: none !important; 
    border-bottom-color: #888;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
}