
$color-white: #ffffff;
$color-black: #000000;
$color-base: #394957;
$color-base-dark: darken($color-base, 5%);
$color-base-darkx2: darken($color-base, 20%);
$color-base-light: lighten($color-base, 5%);
$color-base-lightx2: lighten($color-base, 20%);