header {
	min-height: 500px;
	background-image: url(../images/header-bg.jpg);
	background-position: 50% 58%;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;

	@include media($mobile) {
		min-height: 250px;
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.hero-marquee {
		@include outer-container;
		
		position: relative;
		 
		.logo { 
			@include span-columns(6);
			@include shift(3);
			position: relative;
			top: (500px / 2 - 126);
			@include media($mobile) { 
				@include span-columns(10);
				@include shift(1);
			} 
		}		
	}
}